/*===============================
#.primary-table-area
=================================*/
.table-top-area {
    display: flex;
    align-items: center;
    grid-column-gap: 3rem;
    margin-bottom: 3rem;
}
.search-ara {
    flex: 1;
    max-width: 45rem;
    .input-wrap {
        position: relative;
        .form-control {
            width: 100%;
            height: 4.4rem;
            border-radius: 3rem;
            padding: 1rem 2rem;
            font-family: $bodyFont;
            font-size: 1.8rem;
            font-weight: 300;
            color: #9A9A9A;
            border: 1px solid var(--white);
            &:focus {
                background-color: #fafafa
            }
        }
        .search-icon {
            position: absolute;
            background-color: transparent;
            padding: 0;
            border: none;
            right: 2rem;
            top: 50%;
            transform: translateY(-50%);
            img {
                max-width: 2.6rem;
            }
        }
    }
    
}
.filter-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 3.6rem;
    background-color: var(--white);
    border: none;
    border-radius: 3rem;
    transition: $transition;
    img {
        max-width: 3rem;
    }
    &:hover {
        background-color: var(--primary-color);
    }
}
.primary-table-area {
    .table {
        width: 100%;
        thead {
            tr {
                th {
                    padding:2rem  1.5rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: var(--black);
                    white-space: nowrap;
                    background-color: transparent;
                    .text-mute {
                        font-weight: 300;
                        color: #9A9A9A;
                        border-bottom: 1px solid #9A9A9A;
                    }
                    span {
                        display: inline-flex;
                        align-items: center;
                    }
                    i {
                        margin-left: .2rem;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 1.5rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: var(--black);
                    vertical-align: middle;
                    background-color: transparent;
                    .form-check-input {
                        border: 2px solid var(--black);
                        box-shadow: none;
                        &:checked {
                            background-color: var(--primary-color);
                            border-color: var(--primary-color);
                        }
                    }
                }
            }
        }
    }
}
.table-filter-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 4.2rem;
    background-color: var(--body-bg);
    border: none;
    border-radius: 3rem;
    transition: $transition;
    color: var(--black);
    &:hover {
        background-color: var(--primary-color);
        color: var(--white);
    }
}
.action-tabledropdown {
    .dropdown-menu {
        max-width: 60rem;
        background-color: #F9F9F9;
        border: none;
        padding: 0 1rem;
        .dropdown-inner {
            display: flex;
            align-items: center;
            grid-gap: 1rem;
            .btn-list {
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                font-weight: 400;
                li {
                    border-right: 1px solid var(--black);
                    border-bottom: none;
                    &:last-child {
                       border-right: none;
                    }
                }
                button {
                    border: none;
                    padding: 1rem 1rem;
                    background: transparent;
                    white-space: nowrap;
                    &.fail {
                        background-color: #E74C3C;
                    }
                    &.success {
                        background-color: #1ABC9C;
                    }
                }
            }
            .action-title {
                font-size: 1.4rem;
                font-weight: 500;
            }
        }
    }
}
.table-wrap {
    background-color: var(--white);
    position: relative;
    border-radius: 1rem;
    z-index: 1;
    .search-btn {
        @include flex-position(inline-flex, center, center);
        position: absolute;
        right: -2rem;
        top: -2rem;
        width: 4.8rem;
        height: 4.8rem;
        background-color: var(--white);
        color: var(--black);
        border-radius: 50%;
        filter: drop-shadow(4px 2px 4px rgba(43, 202, 139, 0.25));
        font-size: 2rem;
        transition: $transition;
        &:hover {
            background-color: var(--primary-color);
            color: var(--white);
        }
    }
    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 3.4rem;
        height: 3rem;
        border-radius: 10px 0px;
        background: linear-gradient(127deg, #2BCA8B 19.35%, #AEFC57 75.83%);
        z-index: -1;
    }
}