/*===============================
#.secondary-table-area
=================================*/
.secondary-table-area {
    .table-top {
        margin-bottom: 3rem;
        .table-title {
            font-size: 2.8rem;
            font-weight: 700;
            color: var(--black);
        }
    }
    .table-responsive {
        background-color: var(--white);
        border-radius: 1rem;
    }
    .table {
        thead {
            tr {
                th {
                    padding: 1.5rem;
                    text-align: center;
                    font-size: 1.8rem;
                    font-weight: 500;
                    color: var(--black);
                    white-space: nowrap;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 1.5rem;
                    text-align: center;
                    font-size: 1.8rem;
                    font-weight: 400;
                    color: var(--black);
                    vertical-align: middle;
                    white-space: nowrap;
                    &:nth-child(3) {
                        max-width: 12rem;
                    }
                }
                &:first-child {
                    td {
                        background-color: #E74C3C;
                    }
                }
                &:nth-child(2) {
                    td {
                        background-color: #16A085;
                    }
                }
                &:nth-child(3) {
                    td {
                        background-color: #16A085;
                    }
                }
            }
        }
    }
}
.btn {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--white);
    background-color: #C0392B;
    border: none;
    border-radius: 0;
    padding: .5rem 1.2rem;
    transition: $transition;
    &.ok-btn {
        background-color: #1ABC9C;
    }
    &:hover {
        color: var(--white);
        background: var(--primary-color);
    }
}
@media (max-width: 1199px) {
    .secondary-table-area .table thead tr th {
        font-size: 1.6rem;
        padding: 1rem;
    }
    .secondary-table-area .table tbody tr td {
        font-size: 1.4rem;
        padding: 1rem;
    }
    .secondary-table-area .table-top .table-title {
        font-size: 2.2rem;
    }
    .btn {
        font-size: 1.4rem;
    }
}